<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xj.family.mapper.CardTemplateMapper">
    <select id="readTemplate" parameterType="java.lang.Integer" resultType="com.xj.family.bean.CardTemplate">
        select name, series, image_url, base_price
        from card_template
        where id=#{templateId};
    </select>
    <select id="getCardTemplateBasePrice">
        select base_price from card_template where id=#{cardTemplateId};
    </select>
</mapper>
