<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xj.family.mapper.FlyItemMapper">
    <select id="getAllItemsForUser" resultType="com.xj.family.bean.FlyItem" >
        SELECT * FROM flies where owner=#{owner} order by date desc 
    </select>
    <insert id="insert" parameterType="com.xj.family.bean.FlyItem" useGeneratedKeys="true" keyProperty="id">
        insert into flies (date, name, evaluate, image, owner)
        values (#{date}, #{name}, #{evaluate}, #{image}, #{owner})
    </insert>
</mapper>