<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xj.family.mapper.GoldMapper">
    <insert id="allocateGoldForUser">
        insert into gold(owner_id, amount)
        values(#{ownerId}, #{allocateAmount})
    </insert>
    <update id="addGoldForUser">
        update gold
        set amount = amount + #{addAmount}
        where owner_id=#{ownerId}
    </update>
    <update id="subtractGoldForUser">
        update gold
        set amount = amount - #{subtractAmount}
        where owner_id=#{ownerId}
    </update>
    <select id="getGoldAmountForUser" resultType="java.lang.Integer">
        select amount from gold
        where owner_id=#{ownerId}
    </select>
</mapper>