<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xj.family.mapper.RankMapper">
    <select id="getUserListRanked" resultType="java.lang.Integer" >
        select table_u.owner FROM
        (
        select owner, count(1) as c from `flies` GROUP BY owner ORDER BY c DESC
        ) as table_u;
    </select>
    <select id="getUserListRankedForGrowCnt" resultType="java.lang.Integer" >
        select table_u.owner FROM
        (
        select owner, count(1) as c from `flies` where status = 1 GROUP BY owner ORDER BY c DESC
        ) as table_u;
    </select>
    <select id="getUserListRankedWithFliesCnt" resultType="com.xj.family.bean.vo.RankInfoVo">
        select user.id as userId, user.userface, user.cname, tb1.growFlyCnt, tb1.diedFlyCnt, tb1.babyFlyCnt   from
        (select owner,
        count(
        case when status=-1 then 1 else null
        end) diedFlyCnt,
        count(
        case when status=0 then 1 else null
        end) as babyFlyCnt,
        count(
        case when status=1 then 1 else null
        end) as growFlyCnt
        from flies  group by owner) as tb1
        left join
        user
        on user.id=tb1.owner

        order by tb1.growFlyCnt desc
    </select>

</mapper>