<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xj.family.mapper.RankMapper">
    <select id="getUserListRanked" resultType="java.lang.Integer" >
        select table_u.owner FROM 
        (
            select owner, count(1) as c from `flies` GROUP BY owner ORDER BY c DESC
        ) as table_u;
    </select>
    
</mapper>