<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xj.family.mapper.SixLogMapper">
    <sql id = "insertFields">
        id, articleTitle, articleContentHtml, articleContentMd, articleAbstract, articleCover, articleDate
    </sql>

    <select id="getLogByPage" resultType="com.xj.family.bean.vo.SixLogVo" >
        SELECT s.id, s.`article_title`, s.`article_content_html`, s.`article_content_md`, s.`article_abstract`, s.`article_cover`, s.`article_date`, u.cname as ownerName
        FROM sixlog s, user u
        WHERE s.ownerId=u.id
        ORDER BY s.`article_date` desc
        LIMIT #{offset}, #{size};
    </select>
    <select id="getLogById" resultType="com.xj.family.bean.SixLog" >
        SELECT * FROM sixlog where id=#{id};
    </select>
    <insert id="addNewSixLog" parameterType="com.xj.family.bean.SixLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sixlog SET article_title=#{articleTitle},article_content_html=#{articleContentHtml},article_content_md=#{articleContentMd}, article_abstract=#{articleAbstract}, article_cover=#{articleCover}, ownerId=#{ownerId}
    </insert>
    <select id="getTotalAmount" resultType="int">
        select count('love') from sixlog;
    </select>

</mapper>