<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xj.family.mapper.StarMapper">
    <select id="listStarInfo" resultType="com.xj.family.bean.vo.StarInfoVo">
        select * from starrecord where owner = #{owner};
    </select>
    <!-- todo: 24/01/20 12:33; we need some limit(and filter: distinct) for this selection -->
    <select id="listStarRecordsOfAllUsersRecently" resultType="com.xj.family.bean.vo.StarInfoVo">
        select * from starrecord;
    </select>
    <select id="listRecentStarsForUser" resultType="com.xj.family.bean.vo.StarInfoVo">
        select * from starrecord where owner = #{userId} order by starDateTime desc limit #{recentCnt};
    </select>
    <insert id="saveStarRecord" parameterType="com.xj.family.bean.vo.StarInfoVo" useGeneratedKeys="true" keyProperty="id">
        insert into starrecord(`owner`, `starDateTime`, `starDescription`)
        values
        (#{owner}, now(), #{starDescription})
    </insert>
    <select id="getStarRaceBayData" resultType="com.xj.family.bean.vo.UserAndTheirStarCount">
        select u.id as userId, u.userface as userface, u.cname as username, count(s.id) as cnt 
        from starrecord s 
            join
            (select * from user order by id) as u
        on u.id=s.owner 
        group by u.id
        order by cnt desc
        limit 10;
    </select>
    <select id="getStarWeeklyData" resultType="com.xj.family.bean.vo.UserAndTheirStarCount">
        select u.id as userId, u.userface as userface, u.cname as username, count(s.id) as cnt 
        from user u
            left join 
            (select * from starrecord where yearweek(starDateTime,1)=yearweek(curdate(),1)) s
        on u.id=s.owner
        group by u.id
        order by cnt desc, userId asc
        limit 10; 
    </select>
</mapper>
