<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xj.family.mapper.TaskMapper">
    <select id="getAllTasksByOwner" resultType="com.xj.family.bean.Task">
        select t.id, t.`title`, t.`status`, t.`created`,
               t.`edited`, t.`owner`, t.`matrix`
        from task t
        where t.`owner`=#{owner}
        order by t.`edited` desc
    </select>
    <insert id="addTask" parameterType="com.xj.family.bean.Task" useGeneratedKeys="true" keyProperty="id">
        insert into task (title, status, created, edited, owner, matrix, fly_id)
        values
        (#{title}, 1, now(), now(), #{owner}, 2, #{flyId})
    </insert>
    <update id="cancelTask" parameterType="Integer">
        update task set status=0, edited=now() where id=#{id};
        update flies set status = -1 where id = (select fly_id from task where id=#{id});
    </update>
    <update id="doneTask" parameterType="com.xj.family.bean.dto.TaskDto">
        update task set status=#{status}, edited=now() where id=#{id};
        update flies set status=#{status}-1 where id = (select fly_id from task where id=#{id});
    </update>
</mapper>
