<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xj.family.mapper.SayMapper">
    <insert id="addNewSay" parameterType="com.xj.family.bean.Say"> 
        INSERT INTO say SET id=#{id}, content=#{content}
    </insert>
    <select id="getAllSays" resultType="com.xj.family.bean.Say">
        SELECT * FROM say
    </select>

</mapper>